/*
    #242424
    #dfc74c
    #5a4803
    #e5d27c
    #f1f0e8
    #ffda45
    #46443f
    #908d88
    #94938D
    #e2e1da
    #d3d2cc border

    #c74200
    #a53701 border
 */


html {
    background-color: white;

}

h1{
    margin-top:0;
    text-align: left;
}

h1>span{
    text-align: left;
    background-color:#ffda45;
    padding: 2px;

    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:4px;
}

*{
    word-break:break-word;

}

body{
    color: #000;
    margin-top:0;
    overflow-y: auto;
    font-family:  "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",
    "MS UI Gothic",Helvetica,Arial,sans-serif;
    text-align:center;
}

table{
    background-color: white;
    border-collapse:collapse;
    border: 0px solid #333;
    line-height: 2;
    display: block;
    font-size: 1em;
    margin-left: auto;
    margin-right:auto;
    /*table-layout: fixed;*/
    width:100%;
}

th, td, tr {
    border-collapse:collapse;
    border: 2px solid #d3d2cc;
}


tbody{
    width:100%;

}

#outer {
    width:100%;
    height:100%;
}
.menu{
    background-color:#e2e1da;
    height:40px;
    width:100%;
    top:0;
    z-index:999;
}

.menu button{
    background-color:inherit;
    float:left;
    border:none;
    outline:none;
    margin:0;
    cursor:pointer;
    height:100%;
    text-align: center;
    font-weight:bold;
    color: #000;
}

.menu button.active{
    background-color: #f1f0e8;
    color: #000;
    border:none;
}

.menu button:hover{
    background-color:#94938D;
}


.tabContent {
   display:none;
   background-color: #f1f0e8;
   padding-top:10px;
   position:fixed;
   height:80%;
   width:100%;
}

#dictionary{
    display:block;
}


#category-menu {
    display: inline-block;
    height: 95%;
    width: 15%;
    vertical-align:top;
    margin-left: 4px;
    margin-right:4px;
    border:1px solid #d3d2cc;
    background-color:white;
    overflow-y: hidden;
}

#category-menu:hover{
    overflow-y:overlay;
}


#category-menu div:nth-child(1) {
    height:5%;
}
#category-menu div>h3 {
    background-color: #e2e1da;
    width:100%;
    height:100%;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#custom-category-outer {
    overflow-y: hidden;
    height:80%;
}

#custom-category-outer:hover {
    overflow-y: overlay;
}


#category-menu ol, ul {
    width:100%;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #d3d2cc;
}

/*
#category-menu ul:hover{
    overflow-y: scroll;
}*/

#category-menu ol:nth-child(1) {
    height:80%;
}


#dictionary-outer {
    display:inline-block;
    width: 65%;
    height: 95%;
}



#dictionary-buttons{
    display: inline-block;
    height: 60%;
    width: 15%;
    border:1px solid #d3d2cc;
    vertical-align: bottom;
    margin-left: 4px;
    margin-right:4px;
    padding:0;
    background-color: white;
}



.category-button{
    display:block;
    color: #000;
    outline:none;
    background-color:white;
    border: 1px solid  #e2e1da;
    cursor: pointer;
    padding: 12px;
    width:100%;
    text-align:left;
}

.category-button:hover{
    background-color: #ffda45;
    color:#000;
}

.category-button.active {
    background-color:#ffda45;
    color:#000;
}



.keyword-table tr{
    border-top:none;
    display:table;
    width:100%;
}

.table-header>{
    width:100%;
    line-height: 2;
    border-collapse: collapse;
}
.table-header>tbody>tr:nth-child(1) {
    border-bottom: none;
    background-color: #46443f;
    line-height: 1;
    color:white;
}

.table-outer{
    text-align:center;
    overflow-y: hidden;
    height:96%;
    width:100%;
}

.table-outer:hover{
    overflow-y:overlay;
}

.header-outer{
    text-align:center;
    display: block;
    width:100%;
}


tr{
    opacity: 1;
    transition: opacity .50s ease-in-out;
    min-width:100%;
    width:100%;
}

td.translation-column{
    text-align: left;
}


td[colspan = "3"].table-placeholder{
    width:100%!important;
    max-width:100%!important;
    min-width: 100%!important;
}


th:nth-child(1){
    font-weight:bold;
    width:28%;
    max-width:28%;
}

th:nth-child(2){
    max-width:70%;
    width:70%;
}

th:nth-child(3){
    width:2%;
    min-width:2%;
    color: #46443f;
    cursor:default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


td:nth-child(1){
    font-weight:bold;
    width:28%;
    max-width:28%;
}

td:nth-child(2){
    max-width:70%;
    width:70%;
}

td:nth-child(3){
    width:2%;
    max-width:2%;
}

td[contentEditable="true"].input-error{
    background-color: #FFCCCC;
    background:#FFCCCC;
}

#add-keyword-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#save-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:4px;
    margin-bottom:4px;
}


.delete-column{
    font-weight: bold;
    border-left: none;
    color: #33322f;
    font-size:2em;
    cursor:pointer;
}

.translation-column {
    border-right:none;
}

.translation-outer{
    max-width: 100%;
    height:auto;
    overflow: hidden;
    display:block;
    border-collapse:collapse;
    position: relative;
}

#translationaddbox{
    display: inline-block;
    border: 0;
    padding:0;
    outline: none;
    margin: 0em;
    line-height: 2;
    cursor: text;
    border-radius: 0;
    border-spacing: 2px;
    border-collapse: collapse;
    vertical-align: super;
    overflow:hidden;
    background-color: inherit;
    width:auto;
}

.edit-box {
    width : 100%!important;
    background-color: inherit;
}

input[type="text"]#translationaddbox.input-error {
    background-color: #FFCCCC;
    background:#FFCCCC;
}

.keyword-tag:nth-child(odd) {
     background: #ffda45;
}

.keyword-tag:nth-child(even) {
     background: #46443f;
     color:white;
}

.keyword-tag {
    cursor: default;
    border-radius: .25em;
    padding: .25em;
    margin: 0 .25em;
    line-height: 1.5;
    white-space: nowrap;
    text-align:center;
    display:inline-block;
    overflow: hidden;
    border-collapse: collapse;
    font-weight: bold;
    z-index: 0;
}

.keyword-delete {
    cursor: pointer;
    padding-left: .25em;
    cursor:default;
    font-weight: bold;
    vertical-align: bottom;
}


::-webkit-scrollbar {
    display: none; /*tmp*/
    width: .5%;
    background-color: #F5F5F5;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #33322f;
    border-radius:4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
   background-color: #f1f0e8;
    border-radius:4px;
}
