
/*
    #242424
    #dfc74c
    #5a4803
    #e5d27c
    #f1f0e8
    #ffda45
 */


html {
}

h1{
    text-decoration: underline;
}

*{
    word-break:break-word;

}

body{
    background-color: #f1f0e8;
    overflow-y: scroll;
    margin-bottom: 100px;
}


table, th, td {
    border: 1px solid#242424;
    border-collapse:collapse;
}

div{
    text-align: center;
    width:50;
}
table {
    width: 60%;
    line-height: 2;
    display: inline-block;
    table-layout: fixed;
    font-size: 1em;
}

.table-outer{
    width:50%;
    margin-left: auto;
    margin-right:auto;
}

td{
    background-color: white;
}


td.table-placeholder {
    width:100%!important;
    border: none;
    text-align: center;
}

td.translation-column{
    text-align: left;
}


td:nth-child(1){
    font-weight:bold;
    width:25%;
    max-width:25%;
}

td:nth-child(2){
    min-width:75%;
    width:75%;
}

td[contentEditable="true"].input-error{
    background-color: #FFCCCC;
    background:#FFCCCC;
}


.keyoword-row{
}

.save-button{
    display:block;
    margin-left: auto;
    margin-right:auto;
}



th {
    background-color: #ffda45;
    text-align: center;
}

.delete-column{
    font-weight: bold;
    border-left: none;
    color: red;
    font-size:2em;
}

.translation-column {
    border-right:none;
}


h1{
    text-align: center;
}

tr{
    opacity: 1;
    transition: opacity .50s ease-in-out;
}

tr:nth-child(odd) {
}

tr:nth-child(even) {
}


.save-add{
    display:inline-block;
    position:absolute;
}


.translation-outer{
    max-width: 100%;
    min-height:80px;
    height:auto;
    line-height: 1.5;
    overflow: hidden;
    display:block;
    border-collapse:collapse;
    position: relative;
    border-radius:4px;
}

#translationaddbox{
    display: inline-block;
    border: 0;
    padding:0;
    outline: none;
    margin: 0em;
    line-height: 2;
    cursor: text;
    border-radius: 0;
    border-spacing: 2px;
    border-collapse: collapse;
    vertical-align: super;
    overflow:hidden;
    background-color: inherit;
    width:auto;
}

.edit-box {
    width : 100%!important;
    min-width:100%;
    background-color: inherit;
}

input[type="text"]#translationaddbox.input-error {
    background-color: #FFCCCC;
    background:#FFCCCC;
}

.keyword-tag:nth-child(odd) {
     background: #ffda45;
}

.keyword-tag:nth-child(even) {
     background: #5a4803;
}

.keyword-tag {
    cursor: default;
    border-radius: .25em;
    padding: .25em;
    margin: 0 .25em;
    line-height: 1.5;
    white-space: nowrap;
    text-align:center;
    display:inline-block;
    overflow: hidden;
    border-collapse: collapse;
    font-weight: bold;
    z-index: 0;
}

.keyword-delete {
    cursor: pointer;
    padding-left: .25em;
    cursor:default;
    font-weight: bold;
    vertical-align: bottom;
}